.app{
    height: 100vh;
}
:root {
    --nav-height: 60px;
    --color-primary: hsl(0, 0%, 60%);
    --color-primary-lite: hsl(0, 0%, 80%);
    --color-title:hsl(0, 0%, 30%);
    --color-subtitle:hsl(0, 0%, 30%);
    font-size: 16px;
  }